body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
}

/* CONTAINER */
.container {
    width: 550px;
    margin: 50px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* JUDUL */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* BUTTON */
button {
    padding: 10px;
    margin-top: 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #3498db;
    color: white;
}

/* BUTTON HOVER */
button:hover {
    background: #2980b9;
}

/* LIST */
ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #fafafa;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TOMBOL DALAM LIST */
li button {
    margin-left: 5px;
    padding: 5px 8px;
}

/* EDIT */
li button:nth-child(1) {
    background: orange;
}

/* HAPUS */
li button:nth-child(2) {
    background: red;
}